[tool.poetry]
name = "YetAnotherPicSearch"
version = "1.7.12"
description = "Yet Another Picture Search Nonebot Plugin"
authors = ["NekoAria"]
license = "GPL-3.0-only"
readme = "README.md"
packages = [
    { include = "YetAnotherPicSearch" },
]
homepage = "https://github.com/NekoAria/YetAnotherPicSearch"
repository = "https://github.com/NekoAria/YetAnotherPicSearch"
keywords = ["nonebot", "saucenao", "pixiv", "danbooru", "doujin", "anime", "ascii2d", "iqdb", "exhentai"]

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = {extras = ["speedups"], version = "^3.8.4"}
arrow = "^1.2.3"
cachetools = "^5.3.0"
diskcache = "^5.4.0"
nonebot-adapter-onebot = "^2.2.1"
nonebot2 = "^2.0.0-rc.3"
PicImageSearch = "^3.7.8"
pyquery = "^2.0.0"
tenacity = "^8.2.1"
yarl = "^1.8.2"

[tool.poetry.dev-dependencies]

[tool.mypy]
python_version = "3.8"
ignore_missing_imports = true
implicit_reexport = true
pretty = true
show_error_codes = true
strict = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
