[project]
name = "YetAnotherPicSearch"
dynamic = ["version"]
description = "Yet Another Picture Search Nonebot Plugin"
authors = [
    { name = "NekoAria" },
    { name = "student_2333", email = "lgc2333@126.com" },
]
requires-python = ">=3.9,<4"
dependencies = [
    "nonebot2>=2.3.2",
    "nonebot-plugin-alconna>=0.50.2",
    "nonebot-plugin-waiter>=0.7.1",
    "cookit[pydantic,loguru,nonebot-alconna]>=0.8.0",
    "arrow>=1.3.0",
    "httpx>=0.27.0",
    "lxml>=5.2.2",
    "PicImageSearch>=3.10.7",
    "pyquery>=2.0.0",
    "tenacity>=9.0.0",
    "msgpack>=1.0.8",
]
keywords = [
    "nonebot",
    "ascii2d",
    "baidu",
    "e-hentai",
    "google",
    "iqdb",
    "saucenao",
    "tracemoe",
    "yandex",
    "anime",
    "danbooru",
    "doujin",
    "pixiv",
]
license = { text = "GPL-3.0-only" }
readme = "README.md"

[project.urls]
homepage = "https://github.com/NekoAria/YetAnotherPicSearch"
repository = "https://github.com/NekoAria/YetAnotherPicSearch"

[project.optional-dependencies]
socks = ["httpx[socks]>=0.27.0"]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.version]
source = "file"
path = "YetAnotherPicSearch/__init__.py"

[tool.pdm.build]
includes = ["YetAnotherPicSearch"]
